doctype html
html
  head
    meta(charset="utf-8")
    title School Book
    link(rel="shortcut icon", href="/dist/img/school.png")
    link(rel="stylesheet", href="/dist/css/style.css")
    link(rel="stylesheet", href="/dist/css/video.css")
    link(rel="stylesheet", href="/dist/css/default.css")
    link(rel="stylesheet", href="/dist/css/default.date.css")
  body
    header(class="header paper-shadow")
      .logo
        img(src="/dist/img/school.png", alt="School Book")
      .titular
        h1.titulo
          span(class="title") School Book
          | Somos una plataforma que apoya la educación inclusiva
      div
        .filtro
          p #{ type }
      if user
        .usuario
          figure.avatar
            img(src="#{ user.avatar }", alt="#{ user.name }")
          p.nickname 
            span.title-bvn Bienvenido : 
            | #{ user.name }
    block content
    block scripts    
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/dist/js/adapter.js")
    script(type="text/javascript", src="/dist/js/bundle.js")
    
