li(class="item-menu top-menu ")
  a(href="/teacher")
    div(class="icon-home icon-size")
    span.title-menu Inicio

li(class="item-menu")
  a(href="/create/class")
    div(class="icon-pen icon-size")
    span.title-menu Nueva clase

li(class="item-menu")
  a(href="/signout")
    div(class="icon-exit icon-size")
    span.title-menu Cerrar sesión