ul.list-menu
  li(class="item-menu top-menu ")
    a(href="/school")
      div(class="icon-home icon-size")
      span.title-menu Inicio

  li(class="item-menu")
    a(href="/subject")
      div(class="icon-books icon-size")
      span.title-menu Registrar materia

  li(class="item-menu")
    a(href="/add/teacher")
      div(class="icon-user-tie icon-size")
      span.title-menu Registrar profesor        
        
  li(class="item-menu")
    a(href="/grupos")
      div(class="icon-clipboard icon-size")
      span.title-menu Cursos
      
  li(class="item-menu")
    a(href="/add/course")
      div(class="icon-library icon-size")
      span.title-menu Registrar Cursos   
             
  li(class="item-menu")
    a(href="/add/students")
      div(class="icon-cool2 icon-size")
      span.title-menu Registrar estudiante
      
  li(class="item-menu")
    a(href="/signout")
      div(class="icon-exit icon-size")
      span.title-menu Cerrar sesión
