<section id="ahorcado">
<link rel="stylesheet" href="../dist/css/ahorcado.css">
	<div class="contenedorImagen alinearHorizontal">
    	<img src="../dist/img/a1.jpg" id='imagen'>
  </div>
  <div class="contenedorPalabra alinearHorizontal" id="contenedorPalabra">
  	<div id="palabraSecreta" class="palabraSecreta centrarDiv"></div>
      <div id="botonJugar" class="botonJugar centrarDiv borderBox letraNegrita centrarTexto borderRadius-5 cursorPointer">Jugar de Nuevo</div>
      <div class="contenedorNoIntentos centrarTexto">
  		<div class="tituloNoIntentos">
      		Numero de Intentos
      	</div>
      	<div class="noIntentos centrarDiv borderBox" id='noIntentos'>
      		4
      	</div>
  	</div>
  </div>
  <div class="contenedorLetras centrarDiv borderBox letraNegrita" id="contenedorLetras">
  </div>
</section>