 <div class="contenedor">
 <link rel="stylesheet" href="../dist/css/trestis.css">
            <div class="contenedorcanvas">
                <canvas id="canvas" width="200" height="420"></canvas>
            </div>
            <div class="contenedorderecha">
                <div class="figura">
                    <canvas id="canvasFigura" width="160" height="40" class="canvas"></canvas>
                </div>
                <div class="score">
                    <div class="izq">SCORE</div>
                    <div id="score"  class="der"></div>
                </div>
                <div class="lines">
                    <div class="izq">LINES</div>
                    <div id="lineas" class="der"></div>
                </div>
                <div class="level">
                    <div class="izq">LEVEL</div>
                    <div id="nivel" class="der"></div>
                </div>
                <div class="sonido">
                    <div class="izq"><img id="bafle" src="../dist/css/Images/bafle.png"></img></div>
                    <div class="der"></div>
                </div>
                <div class="jugar"><a id="playAgain" >PLAY AGAIN</a></div>
            </div>
            <div id="texto"></div>
            <audio id="sonidoBorrar" preload="load">
                <source src="../dist/Sounds/borrar.mp3"></source>
                <source src="../dist/Sounds/borrar.wav"></source>
            </audio>
            <audio id="sonidoLlego" preload="load">
                <source src="../dist/Sounds/llego.mp3"></source>
                <source src="../dist/Sounds/llego.wav"></source>
            </audio>
        </div>
        