extends ../base
block content
    div.menu
        include ../templates/menu.jade
    section.body
        article(class="center-container")
          div(class="form-wrapper card")
            h2(class="text-center") Agregar nueva curso
            form(action="/insert/curso", method="POST")
              div(class="form-group")
                input(type="text" name="name", placeholder="Agregar curso", required, maxlength="140")
              if info && info != ""
                  p.info #{ info }
              div(class="login")
                input(type="submit" value="Agregar curso" class="register-btn")
