extends ../base
block content
    div.menu
        include ../templates/menu.jade
    section.body
        article(class="center-container")
          div(class="form-wrapper card")
            h2(class="text-center") Editar nueva paralelo
            form(action="/paralelo/#{ paralelo._id }/editar/", method="POST")
              div(class="form-group")
                input(type="text" name="name", placeholder="Editar paralelo", required, maxlength="140", value="#{ paralelo.name }")
              if info && info != ""
                  p.info #{ info }
              div(class="login")
                input(type="submit" value="guardar paralelo" class="register-btn")
