extends ../base
block content
    div.menu
        include ../templates/menu.jade
    section.body
        article(class="center-container")
          div(class="form-wrapper card")
            h2(class="text-center") Agregar nueva paralelo
            form(action="/insert/paralelo", method="POST")
              div(class="form-group")
                input(type="text" name="name", placeholder="Agregar paralelo", required, maxlength="140")
              if info && info != ""
                p.info #{ info }
              div(class="login")
                input(type="submit" value="Agregar paralelo" class="register-btn")
