//form
.btnQuestion
  background rgba(color_amber, .9)
  border 1px solid #87620a
  border-radius 5px
  padding .6em
  box-shadow inset 0 -.2em rgba(0,0,0,0.3)
  font-weight 700
  color #87620a
  &:hover
    background color_amber

.questionForm
  padding 15px 25px .5em 1px
  background #edf1f4

.questionForm-textarea
  border 1px solid #bbbec0
  border-radius 5px
  box-shadow 0 0 10px rgba(187,190,192,.8) inset
  font-size 15px
  height 59px
  width 98.5%
  resize none
  font-family "Open Sans", Arial
  transition all ease 1s
  outline-color red
  &:focus
    border 1px solid cyan_oscuro

textarea[placeholder]
  font-size 16px
  padding-left 1em
  padding-top 1em

#listQuestion
  padding 1em 0
  max-height 370px
  overflow-y scroll

.action
  float left
  float left
  font-size 12px
  left 18px
  text-align center

.author-discussion
    color #556269
    font-weight 700
    position relative
    top -.5em

.chat
  background #dde3e6
  width 29em
  height 100%
  margin 0
  padding 0

.date
  font-size 12px
  text-align right
  display block
  color #666

.discussion-text
  color #0187b9
  font-size 16px
  font-weight 400
  line-height 20px
  margin-bottom 10px
  word-wrap break-word
  a
    color #0187b9

.discussion-status
  float right
  font-size 12px
  color #666

.item
  background white
  border-radius 3px
  box-shadow 0 0 5px #b7bec3
  margin-bottom 10px
  padding 15px 25px 20px 15px
  position relative
  width 87%
  margin 0 12px .7em
  cursor pointer

.user
  float left
  font-weight 400px
  font-size 13px

.chat
  transition width 2s

.rojo
  width 0
  height 0
  margin 0
  padding 0
  overflow hidden
