gray_color = #F2F2F2
color_gris_oscuro = #2f3030
teal_oscuro = #00796B
teal_claro = #009688
cyan_claro = #00BCD4
cyan_oscuro = #0097A7
color_amber = #FFC107

color_red = #ff4842
azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24
blue_gray = #36474F
blue_gray_agua = rgba(54, 71, 79, 0.71)
rojo_porque = #D2527F
rojo_porque_agua = rgba(210, 82, 127, 0.61)

amarillo-paper = #fffbec
text-paper = #666

sombra = 0px 1px 1.5px rgba(black, 0.5)

.cyan_oscuro
  color cyan_oscuro
