.padding-left
    padding-left 1em

.TeacherLayout
    display flex
    justify-content space-around
    margin-top 7em
    margin-left 4em
    height 100% !important

.title-aside
  margin 0
  background cyan_oscuro
  text-align center
  color white

.materias-aside
  top 1em
  ul
    list-style none

.courses-aside
.materias-aside
  width 100%
  padding-bottom .5em
  margin-bottom 1em

.courses-aside
  ul
    list-style none
    a
      color black
      text-decoration none
      &:hover
        text-decoration underline

.bitacora-box
    width 50em

.layout-aside
    width 20em

.bitacora
  margin-bottom 1em
