<div class="card aviso">
  <a href="/lessons/{{ lessons._id }}">
    <h2>
      Ingresa hay clase ahora de {{ lessons.subject.subject }} sobre {{ lessons.nameClass }}
    </h2>
    <h3>
      {{ lessons.teacher.name }} va a dar la clase
    </h3>
  </a>
</div>
