<form id="questionForm" class="questionForm">
  <textarea id="question" class="questionForm-textarea" placeholder="Ingresar Pregunta"></textarea>
  <input type="submit" value="ENVIAR" id="btnQuestion" class="btnQuestion">
  <a class="icon-mic mic" id="messageVoice"></a>
</form>
