
<section id="contentPizarra">
	
  <div id="cursors">
    <!-- Aqui pondremos los cursores de nuestros amigos -->
  </div>

  <canvas id="paper" width="1900" height="1000">
      Tu navegador debe soportar canvas
  </canvas>

  <hgroup id="instructions">
      <h1>¡Dibujemos!</h1>
      <h2>Dibuja en cualquier lugar con tu cursor</h2>
  </hgroup>

 </section>
