<section id="respuestas" class="none">
	<a class="atras">Atras</a>
	<p class="question__respuesta"></p>
	<article class="box-form">
		<textarea id="form-respuesta" placeholder="Escribe tu respuesta"></textarea>
		<button id="form-responder" data-id="">Responder</button>
	</article>
	<ul class="lista_respuesta"></ul>
</section>
